<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
    <a class="navbar-brand" routerLink="login">SuperHero</a>
    <div class="collapse navbar-collapse justify-content-center battle-wrapper">
      <div class="navbar-nav btn-wrapper">
        <a class="nav-item nav-link" routerLink="battle-page">Battle</a>
      </div>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="user-info">User</a>
      </div>
    </div>
  </nav>
</div>
