<div class="hero-select-wrapper">
  <div class="container">
    <div class="md-form mt-0 search-custom-wrapper">
<!--Custom menu-->
      <button
        class="btn btn-danger custom"
        (click)="showAlphabetical()"
      >{{ myLetter | uppercase}}</button>
      <app-alphabetical
        *ngIf="stateAlphabetical"
        (myLetter)="toggleLetter($event)"
        (searchBtn)="searchByValueBtn($event)"
      ></app-alphabetical>
<!--Custom menu-->
      <form [formGroup]="form">
        <div class="form-group">
      <input class="form-control"
             type="text"
             formControlName="userEnterValue">
        <div
          *ngIf="form.get('userEnterValue').invalid && form.get('userEnterValue').touched"
          class="validation"
        >
          <small *ngIf="form.get('userEnterValue').errors.required">
            поле не может быть пустым
          </small>
          <small *ngIf="form.get('userEnterValue').errors.pattern">
            используйте только буквы
          </small>
        </div>
        </div>
      </form>
      <button class="find-heroes" (click)="findHeroes()"><mat-icon>search</mat-icon></button>
    </div>
    <div class="recent-search">
      <div class="recent-search-item" *ngFor="let recent of recentSearches" (click)="recentSearch(recent)">
        {{ recent }}
      </div>
    </div>
    <div class="found-heroes-wrapper" *ngIf="resultState">
      <div class="result-wrapper">
        <p class="result"> Results : {{ result }}</p>
      </div>
      <div class="founded-heroes-wrapper">
        <app-found-hero *ngFor="let hero of foundHeroes" [foundHero]="hero"></app-found-hero>
      </div>
    </div>
  </div>
</div>
