<div class="card">
  <div class="card-body">
    <div class="card-wrapper">
      <div class="card-img">
        <img [src]="foundHero.image.url" alt="">
      </div>
      <h5 class="card-title">{{ foundHero.name | titlecase}}</h5>
    </div>
    <div class="card-wrapper">
      <p class="card-text">PowerStats</p>
      <div class="power-stats">
        <p *ngFor="let stat of foundHero.powerstats | keyvalue">
          {{ stat.key | titlecase }} : {{ stat.value }}
        </p>
      </div>
    </div>
      <div class="btn-wrapper">
        <div [ngSwitch]="routeName.component.name">
          <button *ngSwitchCase="'HeroSelectComponent'" class="btn btn-warning" [disabled]="chooseHeroState" (click)="chooseThisHero()">Select</button>
          <button *ngSwitchCase="'UserInfoPageComponent'" class="btn btn-warning" [disabled]="chooseHeroState" (click)="chooseForFight()">Select</button>
        </div>
        <button class="btn btn-info">view info</button>
      </div>
    </div>
</div>
