.wrapper-form {
  background: url("../../../shared/img/login-page.jpg") no-repeat center;
  background-size: cover;
  & .bottom-wrapper{
    display: flex;
    justify-content: flex-end;
    & .register{
      border: none;
      outline: none;
      background: none;
      &:hover{
        color: blue;
      }
    }
  }
}
